body {
    background-color:  #f8f7ff;
    text-align: center;
}

.title {
    color: palevioletred;

    font-family: 'Dancing Script', cursive;
    font-size: 200%;
    margin-left: 20px;
}

.paragraph {
    color: purple;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: orangered;
    list-style-type:none;
    font-family: 'Roboto', sans-serif;
    padding: 0%;

}

.nav-list li {
    margin: 0 8px;
    padding: 5px ;
}

.nav-list li:hover {
    background-color: #ddbea9;
}

.nav-list li a {
    color: #cb997e;
    text-decoration: none;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.servicesItems img {
    width: 100%;
    height: auto;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section {
    min-height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formItem {
    margin: 5px;
}
footer {
    background-color: #b7b7a4;
    width: 100%;
    padding: 10px;
    bottom: 0;
    color: palevioletred;

    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        margin: 0;
        padding: 0;
    }

    .services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}
